.menu-back {
    background-color: #333;
}

.menu-back a {
    color: #CCC;
    transition: 1s;
}

.menu-back a:hover {
    color: #999;
    cursor: pointer;
}

.menu-back i {
    color: #FFF;
}

.menu-back img {
    width: 43px;
    height: 43px;
    margin-top: 4px;
}

.menu-back .show-list:hover {
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: #AAA;
}

.footer a {
    color: #CCC;
    transition: 1s;
}

.footer a:hover {
    color: #999;
    cursor: pointer;
}

.footer i {
    color: #FFF;
}

.content {
    background-color: #FFF;
}

.card img, .card-techn img {
    border-radius: 15px;
    float: left;
    margin-right: 20px;
}

.card, .card-techn {
    background-color: #AAA;
    border-radius: 10px;
}

.red {
    color: #900;
}

.green {
    color: #090;
}