.menu-back {
    background-color: #333;
}

.menu-back a {
    color: #CCC;
    transition: 1s;
}

.menu-back a:hover {
    color: #999;
}

.menu-back i {
    color: #FFF;
}

.menu-back img {
    width: 43px;
    height: 43px;
    margin-top: 4px;
}

.menu-back .show-list:hover {
    cursor: pointer;
}