/*
 * Velkost:
 * XS       SM      MD      XM      LG      XL      2K      4K      8K
 * <=575     >=576  >=768   >=992   >=1200  >=1900  >=2500  >=3800  >=8100
 *
 * POZOR! XS je zradne, pretoze je definovane ako <= zatial co ostatne su ako >= (tj. sz XS funguje len na velkost XS)
 *
 * Pouzitie:
 * container        - blok ktory prisposobuje svoju velkost obrazovke, avsak podla preddefinovanych hranic
 * container-full   - blok ktory prisposobuje svoju velkost obrazovke (100%)
 * container-sz     - sz je velkost, container bude mat velkost ako keby je obrazovka taka velka, na mensich je 100%
 *
 * row          - rozdeli nadradeny blok/riadok na 12 casti kde je mozne pouzit col-x (je mozne pouzit aj viac ale chova sa to divne)
 * row-sz       - az po dosiahnuti sz sa zmeni na "riadok" s 12 castami - odporucam pouzit v spojeni s column
 * column       - sam o sebe prakticky nic nerobi
 * column-sz    - po dosiahnuti sz sa zmeni na klasicky div, odporucam pouzit s row alebo row-sz
 *  
 * col/col-sz   - prvok bude mat automaticku velkost - pozor! ak pouzijes col-6 a col, ich velkosti sa spocitaju a teda col-6
 *                bude mat velkost 6/18 (6 + 12 = 18) a col bude mat velkost 12/18
 *                preto odporucam pouzivat v jednom bloku iba col alebo col-x
 * col-x        - prvok(blok) bude mat velkost x/12 z nadradeneho bloku
 * col-sz-x     - blok bude mat velkost x/12 od daneho SZ rozlisenia, mensie (pripadne vacsie) si treba osetrit
 *              bud sa prida col-x co bude defaultna velkost (pre mensie) alebo col-sz-x ak vacsie
 *
 * hide     - skryje dany blok pre vsetky rozlisenia
 * hide-sz  - skryje dany blok pre sz rozlisenie a vsetky vyssie
 * show     - zobrazi dany blok pre vsetky rozlisenia, netestovane pri pouziti hide-sz
 * showinl  - zobrazi dany blok ako "inline"
 * showbl   - zobrazi dany blok ako "inline-block"
 * show-sz  - zobrazi dany blok pre vyssie rozlisenia - showinl a showbl maju tiez SZ variantu
 *
 * h1-h5    - velkosti od 35 - 10
 * b,bb,bn  - font weight bold,bolder,normal
 * i,in     - font style italic,normal
 *
 * w-x      - nastavi width okna na dane percenta... x moze byt 100,90,66,50,33,25... 0 - zrusi
 * w-sz-x   - ...
 *
 * box-pos  - umiestni box na pos=left/right/center
 *
 * tpos     - zarovna text na pos=left/right/center/just
 * tpos-sz
 *
 * round-x      - zaukruhly okraje na x=10/20/30/40/50px/none
 * round-pos-x  - to iste akurat pos=top/bottom
 *
 * fleft / fright /fnone    - float left/right
 * fleft-sz / fright-sz     - float pre rozlisenia
 *
 * pd-x     - padding x 5-25
 * mg-x     - margin x 5-25
 *
 * tprim    - text 18px
 * tsec     - text 14px
 */

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

h1 { font-size: 35px; padding: 10px; margin: 0px; }
h2 { font-size: 30px; padding: 10px; margin: 0px; }
h3 { font-size: 25px; padding: 10px; margin: 0px; }
h4 { font-size: 20px; padding: 10px; margin: 0px; }
h5 { font-size: 15px; padding: 5px; margin: 0px; }
h6 { font-size: 10px; padding: 5px; margin: 0px; }

.tmaxi { font-size: 36px; }
.tbig { font-size: 24px; }
.tprim { font-size: 20px; }
.tmid { font-size: 16px; }
.tsec { font-size: 14px; }

.twhite { color: #FFF; }
.tblack { color: #000; }

.b { font-weight: bold; }
.bb { font-weight: bolder; }
.bn { font-weight: normal; }

.i { font-style: italic; }
.in { font-weight: normal; }

.tleft { text-align: left; }
.tright { text-align: right; }
.tcenter {text-align: center; }
.tjust { text-align: justify; }

.bg-red { background-color: #A00; }
.bg-blue { background-color: #059; }
.bg-green { background-color: #092; }
.bg-white { background-color: #FFF; }
.bg-black { background-color: #000; }

.w-100 { width: 100%; }
.w-90 { width: 90%; }
.w-66 { width: 66.67%; }
.w-50 { width: 50%; }
.w-33 { width: 33.33%; }
.w-25 { width: 25%; }
.w-0 { width: auto; }

.h-100 { height: 100%; }
.h-90 { height: 90%; }
.h-66 { height: 66.67%; }
.h-50 { height: 50%; }
.h-33 { height: 33.33%; }
.h-25 { height: 25%; }

.round-none { border-radius: 0px; }
.round-10 { border-radius: 10px; }
.round-20 { border-radius: 20px; }
.round-30 { border-radius: 30px; }
.round-40 { border-radius: 40px; }
.round-50 { border-radius: 50px; }
.round-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
.round-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
.round-top-30 { border-top-left-radius: 30px; border-top-right-radius: 30px; }
.round-top-40 { border-top-left-radius: 40px; border-top-right-radius: 40px; }
.round-top-50 { border-top-left-radius: 50px; border-top-right-radius: 50px; }
.round-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
.round-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
.round-bottom-30 { border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
.round-bottom-40 { border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
.round-bottom-50 { border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }

.box-left { margin-left: 0; margin-right: auto; } /* TODO: rozlisenia */
.box-right { margin-left: auto; margin-right: 0; }
.box-center { margin: auto; }
.box-top-m50 { margin-top: -50px; }
.box-top-25 { margin-top: 25px; }
.box-top-50 { margin-top: 50px; }
.box-top-100 { margin-top: 100px; }
.box-top-150 { margin-top: 150px; }
.box-top-200 { margin-top: 200px; }
.box-top-250 { margin-top: 250px; }
.box-top-300 { margin-top: 300px; }
.box-top-350 { margin-top: 350px; }
.box-top-400 { margin-top: 400px; }
.box-top-450 { margin-top: 450px; }
.box-top-500 { margin-top: 100px; }

.container { margin: auto; width: 1400px; }
.container-full { width: 100%; }

.row { /*width: 100%;*/ display: flex; align-items: stretch; }
.column { /*width: 100%;*/ display: block; align-items: stretch; }

.col { flex: 1; }
.col-0 { flex: 0; }
.col-1 { flex: 1; }
.col-2 { flex: 2; }
.col-3 {  flex: 3; }
.col-4 { flex: 4; }
.col-5 { flex: 5; }
.col-6 { flex: 6; }
.col-7 { flex: 7; }
.col-8 { flex: 8; }
.col-9 { flex: 9; }
.col-10 { flex: 10; }
.col-11 { flex: 11; }
.col-12 { flex: 12; }

th.col, td.col { width: 100%; }
th.col-1, td.col-1 { width: 8.33%; }
th.col-2, td.col-2 { width: 16.67%; }
th.col-3, td.col-3 { width: 25.00%; }
th.col-4, td.col-4 { width: 33.33%; }
th.col-5, td.col-5 { width: 41.67%; }
th.col-6, td.col-6 { width: 50.00%; }
th.col-7, td.col-7 { width: 58.33%; }
th.col-8, td.col-8 { width: 66.67%; }
th.col-9, td.col-9 { width: 75.00%; }
th.col-10, td.col-10 { width: 83.33%; }
th.col-11, td.col-11 { width: 91.67%; }
th.col-12, td.col-12 { width: 100.00%; }


.hide { display: none; }
.show { display: block; }
.showfl { display: flex; }
.showinl { display: inline; }
.showbl { display: inline-block; }

.bottom { position: absolute; bottom: 0px; }

.pd-5 { padding: 5px; } /* TODO: dorobit na rozlisenia */
.pd-10 { padding: 10px; }
.pd-15 { padding: 15px; }
.pd-20 { padding: 20px; }
.pd-25 { padding: 25px; }

.mg-5 { margin: 5px; } /* TODO: dorobit na rozlisenia */
.mg-10 { margin: 10px; }
.mg-15 { margin: 15px; }
.mg-20 { margin: 20px; }
.mg-25 { margin: 25px; }

.fright { float: right; }
.fleft { float: left; }
.fnone { float: none; }

@media only screen and (max-width: 575px) { /* XS */
    /*
     * container: 100%
     */
    .row-xs { width: 100%; display: flex; align-items: stretch; }
    .column-xs { width: 100%; display: block; align-items: stretch; }
    .col-xs { flex: 1; }
    .col-xs-1 { flex: 1; }
    .col-xs-2 { flex: 2; }
    .col-xs-3 {  flex: 3; }
    .col-xs-4 { flex: 4; }
    .col-xs-5 { flex: 5; }
    .col-xs-6 { flex: 6; }
    .col-xs-7 { flex: 7; }
    .col-xs-8 { flex: 8; }
    .col-xs-9 { flex: 9; }
    .col-xs-10 { flex: 10; }
    .col-xs-11 { flex: 11; }
    .col-xs-12 { flex: 12; }
    .container, .container-xs, .container-sm, .container-md, .container-xm, .container-lg, .container-xl, .container-2k, .container-8k, .container-4k { width: 100%; }

    .hide-xs { display: none; }
    .show-xs { display: block; }
    .showfl-xs { display: flex; }
    .showinl-xs { display: inline; }
    .showbl-xs { display: inline-block; }

    .fright-xs { float: right; }
    .fleft-xs { float: left; }
    .fnone-xs { float: none; }

    .tleft-xs { text-align: left; }
    .tright-xs { text-align: right; }
    .tcenter-xs {text-align: center; }
    .tjust-xs { text-align: justify; }

    .w-xs-100 { width: 100%; }
    .w-xs-90 { width: 90%; }
    .w-xs-66 { width: 66.67%; }
    .w-xs-50 { width: 50%; }
    .w-xs-33 { width: 33.33%; }
    .w-xs-25 { width: 25%; }
    .w-xs-0 { width: auto; }

    .tmaxi-xs { font-size: 36px; }
    .tbig-xs { font-size: 24px; }
    .tprim-xs { font-size: 18px; }
    .tsec-xs { font-size: 14px; }

    .round-xs-none { border-radius: 0px; }
    .round-xs-10 { border-radius: 10px; }
    .round-xs-20 { border-radius: 20px; }
    .round-xs-30 { border-radius: 30px; }
    .round-xs-40 { border-radius: 40px; }
    .round-xs-50 { border-radius: 50px; }
    .round-xs-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .round-xs-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
    .round-xs-top-30 { border-top-left-radius: 30px; border-top-right-radius: 30px; }
    .round-xs-top-40 { border-top-left-radius: 40px; border-top-right-radius: 40px; }
    .round-xs-top-50 { border-top-left-radius: 50px; border-top-right-radius: 50px; }
    .round-xs-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    .round-xs-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    .round-xs-bottom-30 { border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
    .round-xs-bottom-40 { border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
    .round-xs-bottom-50 { border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }
}

@media only screen and (min-width: 576px) { /* SM */
    /*
     * container: 576px
     */
    .row-sm { width: 100%; display: flex; align-items: stretch; }
    .column-sm { width: 100%; display: block; align-items: stretch; }
    .col-sm { flex: 1; }
    .col-sm-1 { flex: 1; }
    .col-sm-2 { flex: 2; }
    .col-sm-3 {  flex: 3; }
    .col-sm-4 { flex: 4; }
    .col-sm-5 { flex: 5; }
    .col-sm-6 { flex: 6; }
    .col-sm-7 { flex: 7; }
    .col-sm-8 { flex: 8; }
    .col-sm-9 { flex: 9; }
    .col-sm-10 { flex: 10; }
    .col-sm-11 { flex: 11; }
    .col-sm-12 { flex: 12; }
    .container-md, .container-xm, .container-lg, .container-xl, .container-2k, .container-8k, .container-4k { width: 100%; }
    .container, .container-sm { margin: auto; width: 576px; }
    .container-xs { width: 100%; max-width: 575px; } /* PRETOZE XS je len a len pre telefony - je tam podmienka <= a vsade inde je >= */

    .hide-sm { display: none; }
    .show-sm { display: block; }
    .showfl-sm { display: flex; }
    .showinl-sm { display: inline; }
    .showbl-sm { display: inline-block; }

    .fright-sm { float: right; }
    .fleft-sm { float: left; }
    .fnone-sm { float: none; }

    .tleft-sm { text-align: left; }
    .tright-sm { text-align: right; }
    .tcenter-sm {text-align: center; }
    .tjust-sm { text-align: justify; }

    .w-sm-100 { width: 100%; }
    .w-sm-90 { width: 90%; }
    .w-sm-66 { width: 66.67%; }
    .w-sm-50 { width: 50%; }
    .w-sm-33 { width: 33.33%; }
    .w-sm-25 { width: 25%; }
    .w-sm-0 { width: auto; }

    .tmaxi-sm { font-size: 36px; }
    .tbig-sm { font-size: 24px; }
    .tprim-sm { font-size: 18px; }
    .tsec-sm { font-size: 14px; }

    .round-sm-none { border-radius: 0px; }
    .round-sm-10 { border-radius: 10px; }
    .round-sm-20 { border-radius: 20px; }
    .round-sm-30 { border-radius: 30px; }
    .round-sm-40 { border-radius: 40px; }
    .round-sm-50 { border-radius: 50px; }
    .round-sm-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .round-sm-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
    .round-sm-top-30 { border-top-left-radius: 30px; border-top-right-radius: 30px; }
    .round-sm-top-40 { border-top-left-radius: 40px; border-top-right-radius: 40px; }
    .round-sm-top-50 { border-top-left-radius: 50px; border-top-right-radius: 50px; }
    .round-sm-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    .round-sm-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    .round-sm-bottom-30 { border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
    .round-sm-bottom-40 { border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
    .round-sm-bottom-50 { border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }
}

@media only screen and (min-width: 768px) { /* MD */
    /*
     * container: 768px
     */
    .row-md { width: 100%; display: flex; align-items: stretch; }
    .column-md { width: 100%; display: block; align-items: stretch; }
    .col-md { flex: 1; }
    .col-md-1 { flex: 1; }
    .col-md-2 { flex: 2; }
    .col-md-3 {  flex: 3; }
    .col-md-4 { flex: 4; }
    .col-md-5 { flex: 5; }
    .col-md-6 { flex: 6; }
    .col-md-7 { flex: 7; }
    .col-md-8 { flex: 8; }
    .col-md-9 { flex: 9; }
    .col-md-10 { flex: 10; }
    .col-md-11 { flex: 11; }
    .col-md-12 { flex: 12; }
    .container-xm, .container-lg, .container-xl, .container-2k, .container-8k, .container-4k { width: 100%; }
    .container, .container-md { margin: auto; width: 768px; }

    .hide-md { display: none; }
    .show-md { display: block; }
    .showfl-md { display: flex; }
    .showinl-md { display: inline; }
    .showbl-md { display: inline-block; }

    .fright-md { float: right; }
    .fleft-md { float: left; }
    .fnone-md { float: none; }

    .tleft-md { text-align: left; }
    .tright-md { text-align: right; }
    .tcenter-md {text-align: center; }
    .tjust-md { text-align: justify; }

    .w-md-100 { width: 100%; }
    .w-md-90 { width: 90%; }
    .w-md-66 { width: 66.67%; }
    .w-md-50 { width: 50%; }
    .w-md-33 { width: 33.33%; }
    .w-md-25 { width: 25%; }
    .w-md-0 { width: auto; }

    .tmaxi-md { font-size: 36px; }
    .tbig-md { font-size: 24px; }
    .tprim-md { font-size: 18px; }
    .tsec-md { font-size: 14px; }

    .round-md-none { border-radius: 0px; }
    .round-md-10 { border-radius: 10px; }
    .round-md-20 { border-radius: 20px; }
    .round-md-30 { border-radius: 30px; }
    .round-md-40 { border-radius: 40px; }
    .round-md-50 { border-radius: 50px; }
    .round-md-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .round-md-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
    .round-md-top-30 { border-top-left-radius: 30px; border-top-right-radius: 30px; }
    .round-md-top-40 { border-top-left-radius: 40px; border-top-right-radius: 40px; }
    .round-md-top-50 { border-top-left-radius: 50px; border-top-right-radius: 50px; }
    .round-md-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    .round-md-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    .round-md-bottom-30 { border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
    .round-md-bottom-40 { border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
    .round-md-bottom-50 { border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }
}

@media only screen and (min-width: 992px) { /* XM */
    /*
     * container: 984px
     */
    .row-xm { width: 100%; display: flex; align-items: stretch; }
    .column-xm { width: 100%; display: block; align-items: stretch; }
    .col-xm { flex: 1; }
    .col-xm-1 { flex: 1; }
    .col-xm-2 { flex: 2; }
    .col-xm-3 {  flex: 3; }
    .col-xm-4 { flex: 4; }
    .col-xm-5 { flex: 5; }
    .col-xm-6 { flex: 6; }
    .col-xm-7 { flex: 7; }
    .col-xm-8 { flex: 8; }
    .col-xm-9 { flex: 9; }
    .col-xm-10 { flex: 10; }
    .col-xm-11 { flex: 11; }
    .col-xm-12 { flex: 12; }
    .container-lg, .container-xl, .container-2k, .container-8k, .container-4k { width: 100%; }
    .container, .container-xm { margin: auto; width: 984px; }

    .hide-xm { display: none; }
    .show-xm { display: block; }
    .showfl-xm { display: flex; }
    .showinl-xm { display: inline; }
    .showbl-xm { display: inline-block; }

    .fright-xm { float: right; }
    .fleft-xm { float: left; }
    .fnone-xm { float: none; }

    .tleft-xm { text-align: left; }
    .tright-xm { text-align: right; }
    .tcenter-xm {text-align: center; }
    .tjust-xm { text-align: justify; }

    .w-xm-100 { width: 100%; }
    .w-xm-90 { width: 90%; }
    .w-xm-66 { width: 66.67%; }
    .w-xm-50 { width: 50%; }
    .w-xm-33 { width: 33.33%; }
    .w-xm-25 { width: 25%; }
    .w-xm-0 { width: auto; }

    .tmaxi-xm { font-size: 36px; }
    .tbig-xm { font-size: 24px; }
    .tprim-xm { font-size: 18px; }
    .tsec-xm { font-size: 14px; }

    .round-xm-none { border-radius: 0px; }
    .round-xm-10 { border-radius: 10px; }
    .round-xm-20 { border-radius: 20px; }
    .round-xm-30 { border-radius: 30px; }
    .round-xm-40 { border-radius: 40px; }
    .round-xm-50 { border-radius: 50px; }
    .round-xm-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .round-xm-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
    .round-xm-top-30 { border-top-left-radius: 30px; border-top-right-radius: 30px; }
    .round-xm-top-40 { border-top-left-radius: 40px; border-top-right-radius: 40px; }
    .round-xm-top-50 { border-top-left-radius: 50px; border-top-right-radius: 50px; }
    .round-xm-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    .round-xm-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    .round-xm-bottom-30 { border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
    .round-xm-bottom-40 { border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
    .round-xm-bottom-50 { border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }
}

@media only screen and (min-width: 1200px) { /* LG */
    /*
     * container: 1200px
     */
    .row-lg { width: 100%; display: flex; align-items: stretch; }
    .column-lg { width: 100%; display: block; align-items: stretch; }
    .col-lg { flex: 1; }
    .col-lg-1 { flex: 1; }
    .col-lg-2 { flex: 2; }
    .col-lg-3 {  flex: 3; }
    .col-lg-4 { flex: 4; }
    .col-lg-5 { flex: 5; }
    .col-lg-6 { flex: 6; }
    .col-lg-7 { flex: 7; }
    .col-lg-8 { flex: 8; }
    .col-lg-9 { flex: 9; }
    .col-lg-10 { flex: 10; }
    .col-lg-11 { flex: 11; }
    .col-lg-12 { flex: 12; }
    .container-xl, .container-2k, .container-8k, .container-4k { width: 100%; }
    .container, .container-lg { margin: auto; width: 1200px; }

    .hide-lg { display: none; }
    .show-lg { display: block; }
    .showfl-lg { display: flex; }
    .showinl-lg { display: inline; }
    .showbl-lg { display: inline-block; }

    .fright-lg { float: right; }
    .fleft-lg { float: left; }
    .fnone-lg { float: none; }

    .tleft-lg { text-align: left; }
    .tright-lg { text-align: right; }
    .tcenter-lg {text-align: center; }
    .tjust-lg { text-align: justify; }

    .w-lg-100 { width: 100%; }
    .w-lg-90 { width: 90%; }
    .w-lg-66 { width: 66.67%; }
    .w-lg-50 { width: 50%; }
    .w-lg-33 { width: 33.33%; }
    .w-lg-25 { width: 25%; }
    .w-lg-0 { width: auto; }

    .tmaxi-lg { font-size: 36px; }
    .tbig-lg { font-size: 24px; }
    .tprim-lg { font-size: 18px; }
    .tsec-lg { font-size: 14px; }

    .round-lg-none { border-radius: 0px; }
    .round-lg-10 { border-radius: 10px; }
    .round-lg-20 { border-radius: 20px; }
    .round-lg-30 { border-radius: 30px; }
    .round-lg-40 { border-radius: 40px; }
    .round-lg-50 { border-radius: 50px; }
    .round-lg-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .round-lg-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
    .round-lg-top-30 { border-top-left-radius: 30px; border-top-right-radius: 30px; }
    .round-lg-top-40 { border-top-left-radius: 40px; border-top-right-radius: 40px; }
    .round-lg-top-50 { border-top-left-radius: 50px; border-top-right-radius: 50px; }
    .round-lg-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    .round-lg-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    .round-lg-bottom-30 { border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
    .round-lg-bottom-40 { border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
    .round-lg-bottom-50 { border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }
}

@media only screen and (min-width: 1900px) { /* XL */
    /*
     * container: 1896px
     */
    .row-xl { width: 100%; display: flex; align-items: stretch; }
    .column-xl { width: 100%; display: block; align-items: stretch; }
    .col-xl { flex: 1; }
    .col-xl-1 { flex: 1; }
    .col-xl-2 { flex: 2; }
    .col-xl-3 {  flex: 3; }
    .col-xl-4 { flex: 4; }
    .col-xl-5 { flex: 5; }
    .col-xl-6 { flex: 6; }
    .col-xl-7 { flex: 7; }
    .col-xl-8 { flex: 8; }
    .col-xl-9 { flex: 9; }
    .col-xl-10 { flex: 10; }
    .col-xl-11 { flex: 11; }
    .col-xl-12 { flex: 12; }
    .container-2k, .container-8k, .container-4k { width: 100%; }
    .container, .container-xl { margin: auto; width: 1896px; }

    .hide-xl { display: none; }
    .show-xl { display: block; }
    .showfl-xl { display: flex; }
    .showinl-xl { display: inline; }
    .showbl-xl { display: inline-block; }

    .fright-xl { float: right; }
    .fleft-xl { float: left; }
    .fnone-xl { float: none; }

    .tleft-xl { text-align: left; }
    .tright-xl { text-align: right; }
    .tcenter-xl {text-align: center; }
    .tjust-xl { text-align: justify; }

    .w-xl-100 { width: 100%; }
    .w-xl-90 { width: 90%; }
    .w-xl-66 { width: 66.67%; }
    .w-xl-50 { width: 50%; }
    .w-xl-33 { width: 33.33%; }
    .w-xl-25 { width: 25%; }
    .w-xl-0 { width: auto; }

    .tmaxi-xl { font-size: 36px; }
    .tbig-xl { font-size: 24px; }
    .tprim-xl { font-size: 18px; }
    .tsec-xl { font-size: 14px; }

    .round-xl-none { border-radius: 0px; }
    .round-xl-10 { border-radius: 10px; }
    .round-xl-20 { border-radius: 20px; }
    .round-xl-30 { border-radius: 30px; }
    .round-xl-40 { border-radius: 40px; }
    .round-xl-50 { border-radius: 50px; }
    .round-xl-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .round-xl-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
    .round-xl-top-30 { border-top-left-radius: 30px; border-top-right-radius: 30px; }
    .round-xl-top-40 { border-top-left-radius: 40px; border-top-right-radius: 40px; }
    .round-xl-top-50 { border-top-left-radius: 50px; border-top-right-radius: 50px; }
    .round-xl-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    .round-xl-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    .round-xl-bottom-30 { border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
    .round-xl-bottom-40 { border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
    .round-xl-bottom-50 { border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }
}

@media only screen and (min-width: 2500px) { /* 2K */
    /*
     * container: 2496px
     */
    .row-2k { width: 100%; display: flex; align-items: stretch; }
    .column-2k { width: 100%; display: block; align-items: stretch; }
    .col-2k { flex: 1; }
    .col-2k-1 { flex: 1; }
    .col-2k-2 { flex: 2; }
    .col-2k-3 {  flex: 3; }
    .col-2k-4 { flex: 4; }
    .col-2k-5 { flex: 5; }
    .col-2k-6 { flex: 6; }
    .col-2k-7 { flex: 7; }
    .col-2k-8 { flex: 8; }
    .col-2k-9 { flex: 9; }
    .col-2k-10 { flex: 10; }
    .col-2k-11 { flex: 11; }
    .col-2k-12 { flex: 12; }
    .container-8k, .container-4k { width: 100%; }
    .container, .container-2k { margin: auto; width: 2496px; }

    .hide-2k { display: none; }
    .show-2k { display: block; }
    .showfl-2k { display: flex; }
    .showinl-2k { display: inline; }
    .showbl-2k { display: inline-block; }

    .fright-2k { float: right; }
    .fleft-2k { float: left; }
    .fnone-2k { float: none; }

    .tleft-2k { text-align: left; }
    .tright-2k { text-align: right; }
    .tcenter-2k {text-align: center; }
    .tjust-2k { text-align: justify; }

    .w-2k-100 { width: 100%; }
    .w-2k-90 { width: 90%; }
    .w-2k-66 { width: 66.67%; }
    .w-2k-50 { width: 50%; }
    .w-2k-33 { width: 33.33%; }
    .w-2k-25 { width: 25%; }
    .w-2k-0 { width: auto; }

    .tmaxi-2k { font-size: 36px; }
    .tbig-2k { font-size: 24px; }
    .tprim-2k { font-size: 18px; }
    .tsec-2k { font-size: 14px; }

    .round-2k-none { border-radius: 0px; }
    .round-2k-10 { border-radius: 10px; }
    .round-2k-20 { border-radius: 20px; }
    .round-2k-30 { border-radius: 30px; }
    .round-2k-40 { border-radius: 40px; }
    .round-2k-50 { border-radius: 50px; }
    .round-2k-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .round-2k-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
    .round-2k-top-30 { border-top-left-radius: 30px; border-top-right-radius: 30px; }
    .round-2k-top-40 { border-top-left-radius: 40px; border-top-right-radius: 40px; }
    .round-2k-top-50 { border-top-left-radius: 50px; border-top-right-radius: 50px; }
    .round-2k-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    .round-2k-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    .round-2k-bottom-30 { border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
    .round-2k-bottom-40 { border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
    .round-2k-bottom-50 { border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }
}

@media only screen and (min-width: 3800px) { /* 4K */
    /*
     * container: 3792px
     */
    .row-4k { width: 100%; display: flex; align-items: stretch; }
    .column-4k { width: 100%; display: block; align-items: stretch; }
    .col-4k { flex: 1; }
    .col-4k-1 { flex: 1; }
    .col-4k-2 { flex: 2; }
    .col-4k-3 {  flex: 3; }
    .col-4k-4 { flex: 4; }
    .col-4k-5 { flex: 5; }
    .col-4k-6 { flex: 6; }
    .col-4k-7 { flex: 7; }
    .col-4k-8 { flex: 8; }
    .col-4k-9 { flex: 9; }
    .col-4k-10 { flex: 10; }
    .col-4k-11 { flex: 11; }
    .col-4k-12 { flex: 12; }
    .container-8k { width: 100%; }
    .container, .container-4k { margin: auto; width: 3792px; }

    .hide-4k { display: none; }
    .show-4k { display: block; }
    .showfl-4k { display: flex; }
    .showinl-4k { display: inline; }
    .showbl-4k { display: inline-block; }

    .fright-4k { float: right; }
    .fleft-4k { float: left; }
    .fnone-4k { float: none; }

    .tleft-4k { text-align: left; }
    .tright-4k { text-align: right; }
    .tcenter-4k {text-align: center; }
    .tjust-4k { text-align: justify; }

    .w-4k-100 { width: 100%; }
    .w-4k-90 { width: 90%; }
    .w-4k-66 { width: 66.67%; }
    .w-4k-50 { width: 50%; }
    .w-4k-33 { width: 33.33%; }
    .w-4k-25 { width: 25%; }
    .w-4k-0 { width: auto; }

    .tmaxi-4k { font-size: 36px; }
    .tbig-4k { font-size: 24px; }
    .tprim-4k { font-size: 18px; }
    .tsec-4k { font-size: 14px; }

    .round-4k-none { border-radius: 0px; }
    .round-4k-10 { border-radius: 10px; }
    .round-4k-20 { border-radius: 20px; }
    .round-4k-30 { border-radius: 30px; }
    .round-4k-40 { border-radius: 40px; }
    .round-4k-50 { border-radius: 50px; }
    .round-4k-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .round-4k-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
    .round-4k-top-30 { border-top-left-radius: 30px; border-top-right-radius: 30px; }
    .round-4k-top-40 { border-top-left-radius: 40px; border-top-right-radius: 40px; }
    .round-4k-top-50 { border-top-left-radius: 50px; border-top-right-radius: 50px; }
    .round-4k-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    .round-4k-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    .round-4k-bottom-30 { border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
    .round-4k-bottom-40 { border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
    .round-4k-bottom-50 { border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }
}

@media only screen and (min-width: 8100px) { /* 8K */
    /*
     * container: 8100px
     */
    .row-8k { width: 100%; display: flex; align-items: stretch; }
    .column-8k { width: 100%; display: block; align-items: stretch; }
    .col-8k { flex: 1; }
    .col-8k-1 { flex: 1; }
    .col-8k-2 { flex: 2; }
    .col-8k-3 {  flex: 3; }
    .col-8k-4 { flex: 4; }
    .col-8k-5 { flex: 5; }
    .col-8k-6 { flex: 6; }
    .col-8k-7 { flex: 7; }
    .col-8k-8 { flex: 8; }
    .col-8k-9 { flex: 9; }
    .col-8k-10 { flex: 10; }
    .col-8k-11 { flex: 11; }
    .col-8k-12 { flex: 12; }
    .container, .container-8k { margin: auto; width: 8100px; }

    .hide-8k { display: none; }
    .show-8k { display: block; }
    .showfl-8k { display: flex; }
    .showinl-8k { display: inline; }
    .showbl-8k { display: inline-block; }

    .fright-8k { float: right; }
    .fleft-8k { float: left; }
    .fnone-8k { float: none; }

    .tleft-8k { text-align: left; }
    .tright-8k { text-align: right; }
    .tcenter-8k {text-align: center; }
    .tjust-8k { text-align: justify; }

    .w-8k-100 { width: 100%; }
    .w-8k-90 { width: 90%; }
    .w-8k-66 { width: 66.67%; }
    .w-8k-50 { width: 50%; }
    .w-8k-33 { width: 33.33%; }
    .w-8k-25 { width: 25%; }
    .w-8k-0 { width: auto; }

    .tmaxi-8k { font-size: 36px; }
    .tbig-8k { font-size: 24px; }
    .tprim-8k { font-size: 18px; }
    .tsec-8k { font-size: 14px; }

    .round-8k-none { border-radius: 0px; }
    .round-8k-10 { border-radius: 10px; }
    .round-8k-20 { border-radius: 20px; }
    .round-8k-30 { border-radius: 30px; }
    .round-8k-40 { border-radius: 40px; }
    .round-8k-50 { border-radius: 50px; }
    .round-8k-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
    .round-8k-top-20 { border-top-left-radius: 20px; border-top-right-radius: 20px; }
    .round-8k-top-30 { border-top-left-radius: 30px; border-top-right-radius: 30px; }
    .round-8k-top-40 { border-top-left-radius: 40px; border-top-right-radius: 40px; }
    .round-8k-top-50 { border-top-left-radius: 50px; border-top-right-radius: 50px; }
    .round-8k-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
    .round-8k-bottom-20 { border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    .round-8k-bottom-30 { border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
    .round-8k-bottom-40 { border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; }
    .round-8k-bottom-50 { border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; }
}