<div class="container page">
    <div class="column">
        <div class="row">
            <div class="col-12 tcenter page-head mg-20">
                <span>Registrácia</span>
            </div>
        </div>
        <div class="column tcenter">
            <b class="tprim">Mailova adresa</b>
            <br>
            <input type="text" class="w-66 w-md-33 tcenter" ng-model="acc.mail" placeholder="Mailova adresa">
            <br><br>
            <b class="tprim">Prihlasovacie heslo</b>
            <br>
            <input type="password" class="w-66 w-md-33 tcenter" ng-model="acc.pass" placeholder="Prihlasovacie heslo">
            <br><br>
            <b class="tprim">Prihlasovacie heslo</b>
            <br>
            <input type="password" class="w-66 w-md-33 tcenter" ng-model="acc.passTwo" placeholder="Heslo znova (kontrola)">
            <br><br>
            <b class="tprim">Meno</b>
            <br>
            <input type="text" class="w-66 w-md-33 tcenter" ng-model="acc.fname" placeholder="Meno">
            <br><br>
            <b class="tprim">Priezvisko</b>
            <br>
            <input type="text" class="w-66 w-md-33 tcenter" ng-model="acc.lname" placeholder="Priezvisko">
            <br><br>
            <b class="tprim">Spolocnost</b>
            <br>
            <input type="text" class="w-66 w-md-33 tcenter" ng-model="acc.comp" placeholder="Spolocnost">
            <br><br>
            <b class="tprim">Tel. cislo</b>
            <br>
            <input type="text" class="w-66 w-md-33 tcenter" ng-model="acc.phone" placeholder="Tel. cislo">
            <br><br>
            <button class="btn" ng-click="tryRegist()">Zaregistrovat</button>
            <br><br>
        </div>
    </div>
</div>