<div class="container page">
    <div class="column">
        <div class="row">
            <div class="col-12 tcenter page-head mg-20">
                Nastavenia
            </div>
        </div>
        <div class="column">
            <div class="row tcenter tbig">
                Nastavenie uložíte kliknutím na zelené tlačidlo vpravo.
            </div>
            <div class="column">
                <div class="col-12 tcenter tbig mg-20">
                    Osobne udaje
                </div>
                <div class="row pd-5">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5"></div>
                    <input class="col-10 col-sm-8 col-md-4 col-lg-4" type="text" placeholder="Meno">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5 pd-5">
                        <i ng-click="" class="fas fa-check tbig click edit"></i>
                    </div>
                </div>
                <div class="row pd-5">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5"></div>
                    <input class="col-10 col-sm-8 col-md-4 col-lg-4" type="text" placeholder="Priezvisko">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5 pd-5">
                        <i ng-click="" class="fas fa-check tbig click edit"></i>
                    </div>
                </div>
                <div class="row pd-5">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5"></div>
                    <input class="col-10 col-sm-8 col-md-4 col-lg-4" type="text" placeholder="Email">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5 pd-5">
                        <i ng-click="" class="fas fa-check tbig click edit"></i>
                    </div>
                </div>
                <div class="row pd-5">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5"></div>
                    <input class="col-10 col-sm-8 col-md-4 col-lg-4" type="text" placeholder="Spolocnost">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5 pd-5">
                        <i ng-click="" class="fas fa-check tbig click edit"></i>
                    </div>
                </div>
                <div class="row pd-5">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5"></div>
                    <input class="col-10 col-sm-8 col-md-4 col-lg-4" type="text" placeholder="Telefonnne cislo">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5 pd-5">
                        <i ng-click="" class="fas fa-check tbig click edit"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col-12 tcenter tbig mg-20">
                    Heslo
                </div>
                <div class="row pd-5">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5"></div>
                    <input class="col-10 col-sm-8 col-md-4 col-lg-4" type="text" placeholder="Nove heslo">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5 pd-5"></div>
                </div>
                <div class="row pd-5">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5"></div>
                    <input class="col-10 col-sm-8 col-md-4 col-lg-4" type="text" placeholder="Nove heslo znova">
                    <div class="col-1 col-sm-2 col-md-4 col-lg-5 pd-5">
                        <i ng-click="" class="fas fa-check tbig click edit"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>