<div class="container-full footer">
    <div class="container">
        <div class="row">
            <div class="col-12 tcenter-sm tbig tprim-sm">
                <div class="show showbl-sm pd-sm-10 pd-15" ng-repeat="item in menu">
                    <i class="{{ item.icon }}"></i>
                    <a class="b" ng-href="{{item.page}}">{{ item.text }}</a>
                </div>
            </div>
        </div>
        <div class="row pd-10 tcenter">
            <div class="col-12 tcenter b tbig tprim-sm">
                &#169; Jozef Marek 2020
            </div>
        </div>
    </div>
</div>