<div class="blackBack" ng-if="modal.showModal">
    <div class="modal box-center box-top-50 w-md-50 w-100 bg-white round-20" style="box-shadow: 2px 2px 1px black;">
        <!-- Header -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10" ng-if="!modal.edit"><h3><i class="fas fa-plus-square"></i> Pridanie novinky</h3></div>
            <div class="col-10" ng-if="modal.edit"><h3><i class="fas fa-edit"></i> Editacia novinky</h3></div>
            <div class="col-1 tright pd-5">
                <i ng-click="hideModal()" class="far fa-times-circle btn-i" style="font-size: 25px;"></i>
            </div>
        </div>
        <span class="line"></span>
        <!-- Body -->
        <div class="row pd-10 hide">
            <div class="col-1 tbig"></div>
            <div class="col-8">
                <input class="w-100" type="text" placeholder="id" ng-model="modal.data.id" ng-change="checkInputLogin()">
                <img class="w-100" ng-src="client/design/card{{ modal.data.id }}.jpg">
            </div>
            <div class="col-1 tbig">
                <i class="fas fa-check green" ng-if="!logErr[0]"></i>
                <i class="fas fa-times red" ng-if="logErr[0]"></i>
            </div>
        </div>

        <div class="row pd-10">
            <div class="col-1 tbig"></div>
            <div class="col-8">
                <!--<input class="w-100" type="text" placeholder="Obrazok" ng-model="modal.data.img" ng-change="checkInputLogin()">-->
                <!--<img class="w-90" ng-src="client/design/card{{ modal.data.id }}.jpg"-->
                <input type = "file" file-model = "myFile"/>
            </div>
            <div class="col-1 tbig">
                <i class="fas fa-check green" ng-if="!logErr[0]"></i>
                <i class="fas fa-times red" ng-if="logErr[0]"></i>
            </div>
        </div>

        <div class="row pd-10">
            <div class="col-1 tbig"></div>
            <div class="col-8">
                <input class="w-100" type="text" placeholder="Ikona" ng-model="modal.data.icon" ng-change="checkInputLogin()">
            </div>
            <div class="col-1 tbig">
                <i class="fas fa-check green" ng-if="!logErr[0]"></i>
                <i class="fas fa-times red" ng-if="logErr[0]"></i>
            </div>
        </div>

        <div class="row pd-10">
            <div class="col-1 tbig"></div>
            <div class="col-8">
                <input class="w-100" type="text" placeholder="Nadpis" ng-model="modal.data.header" ng-change="checkInputLogin()">
            </div>
            <div class="col-1 tbig">
                <i class="fas fa-check green" ng-if="!logErr[0]"></i>
                <i class="fas fa-times red" ng-if="logErr[0]"></i>
            </div>
        </div>

        <div class="row pd-10">
            <div class="col-1 tbig"></div>
            <div class="col-8">
                <textarea class="w-90" rows="5" type="text" placeholder="Text" ng-model="modal.data.text" ng-change="checkInputLogin()"></textarea>
            </div>
            <div class="col-1 tbig">
                <i class="fas fa-check green" ng-if="!logErr[0]"></i>
                <i class="fas fa-times red" ng-if="logErr[0]"></i>
            </div>
        </div>
        <span class="line"></span>
        <!-- Footer -->
        <div class="row pd-10">
            <div class="col-1"></div>
            <div class="col-10 tcenter" ng-if="!modal.edit"> <!-- ADD -->
                <button class="btn-prim fright-sm mg-5" ng-click="add()">Pridat</button>
            </div>
            <div class="col-10 tcenter" ng-if="modal.edit"> <!-- EDIT -->
                <button class="btn-prim fright-sm mg-5" ng-click="edit()">Upravit</button>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>